.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Line1 {
  position: absolute;
  width: 74px;
  height: 59px;
  left: 890px;
  top: 93px;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 85px;
}

.Line2 {
  position: absolute;
  width: 1440px;
  height: 70px;
  left: 750px;
  top: 164px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

.Line3 {
  position: absolute;
  width: 1440px;
  height: 70px;
  left: 630px;
  top: 200px;

  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  /* or 194% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
